rich
requests
python-dotenv
pyfiglet
beautifulsoup4
aiohttp
brotli
dlib
dnspython
duckduckgo-search
exifread
face_recognition
fpdf
matplotlib
neo4j
networkx
nltk
numpy
opencv-python
Pillow
regex
scikit-learn
